body {
  margin: -8px;  
}

.nav-header {
  background-color: #284890;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.main-logos {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.logo, .logo1 {
  margin-right: 10px;
}
.nav-link.active {
  color: red;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-header {
      flex-direction: column;
      align-items: center;
  }

  .main-logos, .content-items {
      justify-content: start;
      width: 100%;
      margin-top: 10px;
  }

  .nav-link {
      margin: 5px;
      font-size: 16px;
  }

  .logo, .logo1 {
      margin: 5px 10px;
  }

  .portfolio {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .content-items {
      flex-direction: column;
      align-items: center;
  }

  .nav-link {
      width: 100%;
      text-align: center;
  }
}

.dropdown-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.content-items {
  display: flex;
  align-items: start;
}

.content-items.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 39px;
  background-color: #284890;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.nav-link {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .dropdown-toggle {
    display: flex;
    align-items: end;

  }

  .content-items {
      display: none;
  }

  .nav-link {
      text-align: end;
  }
}

.nav-header {
  background-color: #284890;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.main-logos {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo, .logo1 {
  margin-right: 10px;
}

.dropdown-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-header {
    flex-direction: row; /* keep the direction as row for alignment */
    justify-content: space-between; /* ensure elements are spaced out properly */
    align-items: center; /* align items to center for vertical alignment */
  }

  .main-logos {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .dropdown-toggle {
    display: block;
  }

  .content-items {
    display: none;
    position: absolute;
    right: 0;
    top: 39px;
    background-color: #284890;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .nav-link {
    padding: 10px;
    text-align: center;
  }
}

