body {
  margin: -8px;  
}

.nav-header {
  background-color: #284890;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.main-logos {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

.logo1, .logo2, .logo3 {
  margin-right: 10px;
}
.nav-link.active {
  color: red;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-header {
      flex-direction: column;
      align-items: center;
  }

  .main-logos, .content-items {
      justify-content: start;
      width: 100%;
      margin-top: 10px;
  }

  .nav-link {
      margin: 5px;
      font-size: 16px;
  }

  .logo1, .logo2, .logo3 {
      margin: 5px 10px;
  }

  .portfolio {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .content-items {
      flex-direction: column;
      align-items: center;
  }

  .nav-link {
      width: 100%;
      text-align: center;
  }
}

.dropdown-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.content-items {
  display: flex;
  align-items: start;
}

.content-items.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 39px;
  background-color: #284890;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.nav-link {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .dropdown-toggle {
    display: flex;
    align-items: end;

  }

  .content-items {
      display: none;
  }

  .nav-link {
      text-align: end;
  }
}

@media (max-width: 768px) {
  .nav-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-logos {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .dropdown-toggle {
    display: block;
  }

  .content-items {
    display: none;
    position: absolute;
    right: 0;
    top: 39px;
    background-color: #284890;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

  .nav-link {
    padding: 10px;
    text-align: center;
  }
}


.footer {
  background-color:#2f2f2f;
  background-color: #2C3E50;
  color: #FFFFFF;
  padding: 40px 0;
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #F1C40F;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #FFFFFF;
  font-size: 24px;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #34495E;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

}


