.main-page {
    display: flex;
    background-color: #1C5789;
    height: 100%;
    color: #CAD4DF;
    flex-direction: row;  
    align-items: center;     
    justify-content: center; 
    height: 100vh;           
    text-align: center;      
    padding: 20px; 
}

.page-contents, .carousel {
    width: 50%;
}

h1 {
    margin: 0;
}
  
a.prev, a.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -100px;
  }
  
  a.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  a.prev:hover, a.next:hover {
    background-color: rgba(172, 167, 167, 0.8);
  }
 
  .intro {
    font-size: 20px;
    color: #CAD4DF;
  }

//* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
    .main-page {
        flex-direction: column; 
        text-align: center;
        padding: 10px;
    }

    .page-contents, .carousel {
        width: 100%; 
        margin-bottom: 20px;
    }

    .carousel {
        max-width: none;
    }
}

.carousel {
    position: relative;
    max-width: 200px;
    margin: auto;
    overflow: hidden;
}

.slides img {
    display: none;
    width: 100%;
}

